*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Montserrat", sans-serif;
}
body,html{
    width : 100%;
    height: 100%;
   
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./kenny-eliason-KYxXMTpTzek-unsplash.jpg);
    background-position: center;
    background-size: cover;
     background-blend-mode: overlay; 
}

.box{
 
    background: rgba(181, 89, 129, 0.4); 
    backdrop-filter: blur(5px);  
    padding: 50px;
    border-radius: 3rem;
    }

@mixin btnn(){
    padding: 10px 15px;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: rgb(104, 203, 29);
    border: none;
    border-radius: 18px;
}
h1{
    text-align: center;
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 5rem;
    color: rgb(40, 57, 89);
}
#h {
    font-size: 5rem;
}

.btn{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}
#btn1{
   @include btnn();
   
}
#btn2{
    @include btnn();
    background-color: rgb(217, 48, 48);
 
}
#btn2:hover,#btn1:hover{
    cursor: pointer;

}
#btn1:active,
#btn2:active{
     transform: scale(0.9);
  box-shadow: 0 10px 10px rgba(225, 59, 59, 0.7);

}

#btn1, #btn2 {
  transition: all 0.3s ease;  
}


