*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;


}

.box{
    width: 400px;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
}
button{
    background-color: aqua;
    font-size: 25px;
    padding: 10px 55px;
    cursor: pointer;
    border-radius: 50px;
}

button:active{
    transform: scale(0.9);
    transition: all 0.5s ease;
    background-color: beige;
    
}