*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    color: #fff;
     font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;

}
main{
    width: 100%;
    height: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #4a897f 0%, #6dd5ed 100%);
    overflow-y: auto;               
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  scroll-padding-top: 10px; 
}
::-webkit-scrollbar{
    display: none;
}
section{
    width: 500px;
    height: 100%;
    margin: auto;
}

.all-reels, .reel {
  scroll-snap-align: start;
  min-height: calc(100vh - 20px); 
}
.all-reels{
    width: 100%;
    height: 100%;
    display: flex;
  
    flex-direction: column;
    gap: 20px;
}
.reel{
    width: 100%;
    height: 100%;
    position: relative;

}
.reel video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.reel .bottom{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 20px;
}
.reel .follow{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.follow h3{
    font-size: 25px;
    font-weight: 400;
}
.follow img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    
}
.follow img:hover{
      transform: scale(1.3);
    transition: all ease-in-out 0.2s;
}
.follow button{
    padding: 5px 10px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}
.follow button:hover{
    background-color: rgba(244, 249, 255, 0.269);
}
.caption{
    font-weight: 700;
    text-transform: capitalize;
}

.right{
    width: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 30px 40px;
    position: absolute;
    bottom: 60px;
    right: 0;
    cursor: pointer;
}
.right >div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.right >div i{
    font-size: 30px;
    font-weight: 400;
    pointer-events: none;
}
.right >div h3{
    pointer-events: none;
}
.love{
    color: red;
    background-clip: text;
    -webkit-background-clip: text;
}
.sound{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 16px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #020202eb;
    z-index: 999;
}
.sound i{
    font-size: 22px;
    color: #fff;
    pointer-events: none;
}
