*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
    main{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color : #fff;
        background-color: rgb(20, 15, 16);
    }

button{
    padding: 15px 30px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    z-index: 999;
    background-color: crimson;
}
button:active{
    transform: scale(0.98);
}

.pop-in{
    animation: pop 600ms cubic-bezier(.2,.9,.2,1) forwards;
    will-change: transform, opacity;
    z-index: 998;
}

@keyframes pop{
    0%{
        opacity: 0;
        transform: rotate(var(--rot, 0deg)) scale(0.6);
    }
    60%{
        opacity: 1;
        transform: rotate(var(--rot, 0deg)) scale(1.08);
    }
    100%{
        opacity: 1;
        transform: rotate(var(--rot, 0deg)) scale(1);
    }
}

