*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

body, html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

main{
    width : 100%;
    height :100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./jonatan-pie-3l3RwQdHRHg-unsplash.jpg");
    background-size: cover;
    background-position: center;

}
.box{
    width: 650px;
    padding: 75px;
    border-radius: 15px;
    text-align: center;
    backdrop-filter: blur(30px);
    opacity: 0.8;
     box-shadow: 0 4px 15px rgb(255 255 255 / 80%); 
}

.box h1{
    font-size: 20px;
    text-align: center;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.box h1 a{
    text-decoration: none;;
    
}
.box h1 span{
    font-size: 40px;
    font-style: italic;
}

.outer{
    width: 100%;
    height: 30px;
    background-color: rgb(228, 228, 228);
    border-radius: 50px;
    margin: 50px 0;   
    
}
.inner{
    width: 0;
    height: 100%;
    background-color: rgb(47, 114, 47);
    border-radius: 50px;

  
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.bottom h2{
    font-size: 50px;
    font-weight: 600;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;   

}
.bottom button{
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 243, 249);
    color: white;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
      font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.bottom button:active{
    scale : 0.95;
    
}
